{% if not sonata_admin.field_description.hasassociationadmin %}
    {% for element in value %}
        {{ element|render_relation_element(sonata_admin.field_description) }}
    {% endfor %}
{% else %}
    {%   set container_span = attr|rz_get_span_class %}
    <div id="field_container_{{ id }}" class="field-container">
        <div id="field_widget_{{ id }}" class="row-fluid rz-widget-container-one-to-many">
            <div {% if container_span is not null %} class="{{ container_span }}"{% endif %}>
            {% if sonata_admin.edit == 'inline' %}
                {% if sonata_admin.inline == 'table' %}
                    {% if form.children|length > 0 %}
                    <div class="box box-color box-small box-bordered green">
                        <div class="box-title">
                            <h3>
                                <i class="icon-reorder"></i>
                            </h3>
                        </div>
                        <div class="box-content nopadding">
                            <table class="table table-bordered table-nomargin rz-table-responsive rz-one-to-many-table">
                                <thead>
                                    <tr>
                                        {% for field_name, nested_field in form.children[0].children %}
                                            {% if field_name == '_delete' %}
                                                <th class="sonata-one-to-many-delete-header" data-hide="phone,tablet">{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</th>
                                            {% else %}
                                                <th>{{ nested_field.vars['sonata_admin'].admin.trans(nested_field.vars.label) }}</th>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody class="sonata-ba-tbody">
                                {% for nested_group_field_name, nested_group_field in form.children %}
                                    <tr>
                                        {% for field_name, nested_field in nested_group_field.children %}
                                            <td class="sonata-ba-td-{{ id }}-{{ field_name  }}
                                               {% if nested_field.vars.errors|length > 0 %} error{% endif %}
                                               {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is not defined or
                                                     sonata_admin.field_description.associationadmin.formfielddescriptions[field_name].type == 'boolean' %}
                                                     sonata-one-to-many-table-boolean
                                               {% endif %}
                                               {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is not defined or
                                                     sonata_admin.field_description.associationadmin.formfielddescriptions[field_name].type == 'integer' %}
                                                     sonata-one-to-many-table-integer
                                               {% endif %}">


                                                <div class="hidden-desktop visible-tablet visible-phone rz-one-to-many-table-row-label">
                                                    <div class="rz-one-to-many-table-span-label">
                                                        {% if field_name == '_delete' %}
                                                            <label>{{ 'action_delete'|trans({}, 'SonataAdminBundle') }}</label>
                                                        {% else %}
                                                            <label>{{ nested_field.vars['sonata_admin'].admin.trans(nested_field.vars.label) }}</label>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                                    {{ form_widget(nested_field) }}
                                                    {% set dummy = nested_group_field.setrendered %}
                                                {% else %}
                                                   {{ form_widget(nested_field) }}
                                                {% endif %}
                                                {% if nested_field.vars.errors|length > 0 %}
                                                    <div class="sonata-ba-field-error-messages">
                                                        {{ form_errors(nested_field) }}
                                                    </div>
                                                {% endif %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}
                {% elseif form.children|length > 0 %}
                    {% for nested_group_field_name, nested_group_field in form.children %}
                    <div class="box box-color green box-small box-bordered sonata-ba-box">
                        <div class="box-title">
                            <h3><i class="icon-move"></i><span class="rz-orm-otm-position">{{ nested_group_field_name + 1 }}</span></h3>
                        </div>
                        <div class="box-content nopadding">
                            <div class="sonata-one-to-many-form">
                            {% for field_name, nested_field in nested_group_field.children %}
                                {% if sonata_admin.field_description.associationadmin.formfielddescriptions[field_name] is defined %}
                                    <div class="control-group sonata-ba-control-group-{{ id }}-{{ field_name  }}">
                                        {{ form_label(nested_field) }}
                                        <div class="controls">
                                            {{ form_widget(nested_field, {
                                            'inline': 'natural',
                                            'edit'  : 'inline'
                                            }) }}
                                            {% set dummy = nested_group_field.setrendered %}
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="control-group sonata-ba-control-group-{{ id }}-{{ field_name  }}">
                                        {{ form_label(nested_field) }}
                                        <div class="controls">
                                            {{ form_widget(nested_field) }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% else %}
                {{ form_widget(form) }}
            {% endif %}
            </div>
        </div>

        {% if sonata_admin.edit == 'inline' %}

            {# include association code #}
            {% include 'RzDoctrineORMAdminBundle:CRUD:edit_orm_one_association_script.html.twig' %}

            {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                <span id="field_actions_{{ id }}" >
                    <a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                        onclick="return otom_{{ id }}.startFieldRetrieve(this);"
                        class="btn btn-success sonata-ba-action"
                        title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                        >
                        <i class="icon-plus"></i>
                        <span class="visible-desktop hidden-tablet hidden-phone"> {{ 'link_add'|trans({}, 'SonataAdminBundle') }}</span>
                    </a>
                </span>
            {% endif %}

            {# add code for the sortable options #}
            {% if sonata_admin.field_description.options.sortable is defined %}
                <script type="text/javascript">
                    rzadmin.rz_orm_otm.init({
                                'id': '{{ id }}',
                                'sortable_id': '{{ sonata_admin.field_description.options.sortable }}',
                                'type': '{% if sonata_admin.inline == 'table' %}table{% else %}form{% endif %}'
                            }
                    );
                </script>
            {% endif %}
        {% else %}
            {% include 'RzDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}
            <span id="field_actions_{{ id }}" >
                {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                    <a
                        href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                        onclick="return mtom_{{ id }}.startFieldDialogFormAdd(this);"
                        class="btn sonata-ba-action btn-primary"
                        title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                        >
                        <i class="icon-plus"></i>
                        {{ 'link_add'|trans({}, 'SonataAdminBundle') }}
                    </a>
                {% endif %}
            </span>
        {% endif %}
    </div>
{% endif %}
