{% if not sonata_admin.field_description.hasassociationadmin%}
    {{ value|render_relation_element(sonata_admin.field_description) }}
{% elseif sonata_admin.edit == 'inline' %}
    {% for field_description in sonata_admin.field_description.associationadmin.formfielddescriptions %}
        {{ form_row(form.get(field_description.name))}}
    {% endfor %}
{% else %}
    {% include 'RzDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}
    {%   set container_span = attr|rz_get_span_class %}
    <div id="field_container_{{ id }}" class="field-container">
        <div class="row-fluid">
            <div {% if container_span is not null %} class="{{ container_span }}"{% endif %}>
            {% set attr_new = rz_replace_span_class(attr) %}
            {% if sonata_admin.edit == 'list' %}
                <div id="field_widget_{{ id }}" class="span12 field-short-description dummy-text-container">
                    {# TODO: find error #}
                    {% if sonata_admin.value and sonata_admin.admin.id(sonata_admin.value) %}
                        {% render url('sonata_admin_short_object_information',{
                                'code':     sonata_admin.field_description.associationadmin.code,
                                'objectId': sonata_admin.field_description.associationadmin.id(sonata_admin.value),
                                'uniqid':   sonata_admin.field_description.associationadmin.uniqid,
                                'linkParameters': sonata_admin.field_description.options.link_parameters
                            }
                        )%}
                    {% endif %}
                </div>
                <span style="display: none" >
                    {{ form_widget(form, { 'attr': {'class': attr_new} }) }}
                </span>
            {% else %}
                <span id="field_widget_{{ id }}" >
                    {{ form_widget(form, { 'attr': {'class': attr_new} }) }}
                </span>
            {% endif %}
            </div>
        </div>
        <div class="row-fluid">
            <div {% if container_span is not null %} class="{{ container_span }}"{% endif %}>
                <span id="field_actions_{{ id }}" class="field-actions">
                    <span class="btn-group">
                        {% if sonata_admin.edit == 'list' and sonata_admin.field_description.associationadmin.hasRoute('list') and sonata_admin.field_description.associationadmin.isGranted('LIST') and btn_list %}
                            <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('list', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                                onclick="return mtom_{{ id }}.startFieldDialogFormList(this);"
                                class="btn sonata-ba-action btn-success"
                                title="{{ 'link_list'|trans({}, 'SonataAdminBundle') }}"
                                >
                                <i class="icon-list"></i>
                                <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_list'|trans({}, 'SonataAdminBundle') }}</span>

                            </a>
                        {% endif %}

                        {% if sonata_admin.edit != 'admin' and sonata_admin.field_description.associationadmin.hasRoute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE')  and btn_add %}
                            <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                                onclick="return mtom_{{ id }}.startFieldDialogFormAdd(this);"
                                class="btn sonata-ba-action btn-success"
                                title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                                >
                                <i class="icon-plus"></i>
                                <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_add'|trans({}, 'SonataAdminBundle') }}</span>
                            </a>
                        {% endif %}
                    </span>

                    <span class="btn-group">
                        {% if sonata_admin.edit == 'list' and sonata_admin.field_description.associationadmin.hasRoute('list') and sonata_admin.field_description.associationadmin.isGranted('LIST') and btn_delete  %}
                            <a  href=""
                                onclick="return mtom_{{ id }}.removeSelectedElement(this);"
                                class="btn sonata-ba-action btn-success"
                                title="{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}"
                                >
                                <i class="icon-off"></i>
                                <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</span>
                            </a>
                        {% endif %}
                    </span>
                </span>
            </div>
        </div>
    </div>
{% endif %}
