{% if sonata_admin.field_description.associationadmin %}
    {%   set container_span = attr|rz_get_span_class %}
    <div id="field_container_{{ id }}" class="field-container">
        <div class="row-fluid">
            <div {% if container_span is not null %} class="{{ container_span }}"{% endif %}>
                <div id="field_widget_{{ id }}">
                    {% if container_span is not null %}
                        {% set attr_new = rz_replace_span_class(attr) %}
                    {% endif %}
                    {{ form_widget(form, { 'attr': {'class': attr_new} }) }}
                </div>
                <div id="field_actions_{{ id }}" class="row-fluid field-actions">
                    <div class="span12">
                    {% if sonata_admin.field_description.associationadmin.hasRoute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') %}
                        <a
                            href="{{ sonata_admin.field_description.associationadmin.generateUrl('create') }}"
                            onclick="return start_field_dialog_form_add_{{ id }}(this);"
                            class="btn sonata-ba-action btn-primary"
                            title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                            >
                            <i class="icon-plus"></i>
                            <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_add'|trans({}, 'SonataAdminBundle') }}</span>
                        </a>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}
{% endif %}
