{% extends 'SonataAdminBundle:Form:form_admin_fields.html.twig' %}


{# Custom Sonata Admin Extension #}
{% block sonata_admin_orm_one_to_one_widget %}
    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_one_to_one.html.twig' %}
{% endblock %}

{% block sonata_admin_orm_many_to_many_widget %}
    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_to_many.html.twig' %}
{% endblock %}

{% block sonata_admin_orm_many_to_one_widget %}
    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_to_one.html.twig' %}
{% endblock %}

{% block sonata_admin_orm_one_to_many_widget %}
    {% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_one_to_many.html.twig' %}
{% endblock %}

{% block sonata_type_model_widget %}
    {#
        This is not the best way to do if
        TODO : improve this part
    #}

    {#model {{ sonata_admin.field_description.mappingtype }}#}

    {% if sonata_admin.field_description is empty %}
        {{ block('choice_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_ONE') %}
        {{ block('sonata_admin_orm_one_to_one_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_ONE') %}
        {{ block('sonata_admin_orm_many_to_one_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_MANY') %}
        {{ block('sonata_admin_orm_many_to_many_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_MANY') %}
        {{ block('sonata_admin_orm_one_to_many_widget') }}
    {% else %}
        {#INVALID MODE : {{ id }}#}
        {{ block('choice_widget') }}
    {% endif %}
{% endblock %}

{% block sonata_type_model_list_widget %}
    {% include 'RzDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}
    <div id="field_container_{{ id }}" class="field-container">
        <div id="field_actions_{{ id }}" class="field-actions row-fluid">
            {% set container_span = attr|rz_get_span_class %}
            <div {% if container_span is not null %} class="{{ container_span }}"{% endif %}>
                <div class="row-fluid">
                    <div id="field_widget_{{ id }}" class="span12 field-short-description dummy-text-container" data-rel-input-id="{{ id }}">
                        {% if sonata_admin.field_description.associationadmin.id(sonata_admin.value) %}
                            {% render url('sonata_admin_short_object_information',{
                            'code':     sonata_admin.field_description.associationadmin.code,
                            'objectId': sonata_admin.field_description.associationadmin.id(sonata_admin.value),
                            'uniqid':   sonata_admin.field_description.associationadmin.uniqid,
                            'linkParameters': sonata_admin.field_description.options.link_parameters
                            }
                            )%}
                        {% endif %}
                    </div>
                </div>

                {% if btn_add or btn_list or btn_delete %}
                <div class="row-fluid">
                    <div class="span12">
                        <span class="btn-group">
                            {% if sonata_admin.field_description.associationadmin.hasroute('list') and sonata_admin.field_description.associationadmin.isGranted('LIST') and btn_list %}
                                <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('list', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                                    onclick="return mtom_{{ id }}.startFieldDialogFormList(this);"
                                    class="btn sonata-ba-action btn-success"
                                    title="{{ 'link_list'|trans({}, 'SonataAdminBundle') }}"
                                        >
                                    <i class="icon-list"></i>
                                    <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_list'|trans({}, 'SonataAdminBundle') }}</span>
                                </a>
                            {% endif %}

                            {% if sonata_admin.field_description.associationadmin.hasroute('create') and sonata_admin.field_description.associationadmin.isGranted('CREATE') and btn_add %}
                                <a  href="{{ sonata_admin.field_description.associationadmin.generateUrl('create', sonata_admin.field_description.getOption('link_parameters', {})) }}"
                                    onclick="return  mtom_{{ id }}.startFieldDialogFormAdd(this);"
                                    class="btn sonata-ba-action btn-success"
                                    title="{{ 'link_add'|trans({}, 'SonataAdminBundle') }}"
                                        >
                                    <i class="icon-plus"></i>
                                    <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_add'|trans({}, 'SonataAdminBundle') }}</span>
                                </a>
                            {% endif %}
                            {% if sonata_admin.field_description.associationadmin.hasRoute('delete') and sonata_admin.field_description.associationadmin.isGranted('DELETE') and btn_delete %}
                                <a  href="#"
                                    onclick="return mtom_{{ id }}.removeSelectedElement(this);"
                                    class="btn sonata-ba-action btn-success"
                                    title="{{ 'link_delete'|trans({}, 'SonataAdminBundle') }}"
                                    data-ref-id="{{ id }}"
                                        >
                                    <i class="icon-trash"></i>
                                    <span class="hidden-phone hidden-tablet visible-desktop"> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</span>
                                </a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                {% endif %}

                <span style="display: none" >{{ form_widget(form) }}</span>
                {{ form_errors(form) }}
            </div>
        </div>
        <div class="modal hide fade  sonata-ba-modal sonata-ba-modal-edit-one-to-one" data-backdrop="static" id="field_dialog_{{ id }}" aria-hidden="false"></div>
    </div>

    {#{% include 'SonataDoctrineORMAdminBundle:CRUD:edit_orm_many_association_script.html.twig' %}#}
{% endblock %}

{% block sonata_type_admin_widget %}
    {#admin {{ sonata_admin.field_description.mappingtype }}#}
    {% if sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_ONE') %}
        {{ block('sonata_admin_orm_one_to_one_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_ONE') %}
        {{ block('sonata_admin_orm_many_to_one_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_MANY') %}
        {{ block('sonata_admin_orm_many_to_many_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_MANY') %}
        {{ block('sonata_admin_orm_one_to_many_widget') }}
    {% else %}
        INVALID MODE : {{ id }}
    {% endif %}
{% endblock %}

{% block sonata_type_collection_widget %}
    {% if sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_MANY') %}
        {{ block('sonata_admin_orm_one_to_many_widget') }}
    {% elseif sonata_admin.field_description.mappingtype == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_MANY') %}
        {{ block('sonata_admin_orm_many_to_many_widget') }}
    {% else %}
        INVALID MODE : {{ id }} - type : sonata_type_collection - mapping : {{ sonata_admin.field_description.mappingtype }}
    {% endif %}
{% endblock %}


{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="row-fluid rz-field-error-messages-relations">
            {% if not form.parent  or 'repeated' in form.vars['block_prefixes'] %}
                <div class="control-group {% if errors|length > 0%} error{%endif%}" id="sonata-ba-field-container-{{ id }}">
            {% endif %}
                    <div class="help-inline sonata-ba-field-error-messages rz-field-error-messages">
                    {% for error in errors %}
                        {% if loop.first %}
                            {{ error.messageTemplate|trans(error.messageParameters, 'validators') }}
                        {% endif %}
                    {% endfor %}
                    </div>
            {% if not form.parent  or 'repeated' in form.vars['block_prefixes'] %}
                </div>
            {% endif %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
